* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


nav {
    height: 80px;
    background: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw - 1300px) / 2);
}

.body {
    background-image: url('./background\ for\ webpage.jpg');
    background-size: cover;
    color: black;
}

.logo {
    color: silver;
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
    padding: 0 2rem;
}

nav a {
    text-decoration: none;
    color: silver;
    padding: 0 1.5rem;
    font-size: 15px;
}

nav a:hover {
    color: white;
}


.hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 95vh;
    padding: 3rem calc((100vw - 1300px) / 2);

}


.column-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: black;
    padding: 0rem 2rem;
}

.column-left h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
}


.column-left p {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
}



.column-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem;
}

.hero-image {
    width: 80%;
    height:80%;
}

@media screen and (max-width: 768px) {
    .hero-container {
        grid-template-columns: 1fr;
    }
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: none;
}


.footer ul {
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a {
    color: black;
    border-bottom: 3px solid transparent;
    transition: 0.3 ease;
    font-size: 20px;
}

.footer ul li a:hover {
    border-bottom: 3px solid black;
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;
    font-size: 20px;
}

.footer .copyright {
    margin-top: 15px;
    font-size: 12px;
    color: black;
    text-align: center;
}

.footer .h3 {
    font-size: 30px;
    color: black;
    text-align: center;
}


